{% extends 'base_login.html' %}

{% block box %}

{% load static %}

<img class="logo" src="{% static 'img/logo.png' %}" alt="Logo" height="96" width="96">
<form class="pure-form pure-form-aligned" method="POST">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }}
        <div class="pure-control-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="pure-button pure-input-1 pure-button-primary">Entrar</button>
    </fieldset>
    <p><a href="{% url 'usuarios:reset' %}">Esqueci minha senha</a></p>
    <p><a href="{% url 'usuarios:cadastrar' %}">Cadastrar usuário</a></p>
</form>

{% endblock %}