{% extends 'base.html' %}

{% block container %}

<div class="pure-g-r content-ribbon">
    <h2>Painel do Usuário</h2>
    <div class="pure-u-2-3">
        <div class="inner">
            <p><strong>Usuário:</strong> {{ user }}</p>
            <p><strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><a href="{% url 'usuarios:editar' %}">Editar conta</a></p>
            <p><a href="{% url 'usuarios:senha' %}">Alterar senha</a></p>
        </div>
    </div>
</div>

{% endblock %}
